*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: #F6F8FA;
}


.common{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #F6F8FA;
  width: 90%;
  max-width: 1500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-size: .7rem;
  
}

.header1{
  margin: 2rem;
  font-size: 2rem; 
  
}
.header2{
  margin-top: 1rem;
  /* border: 2px solid blue; */
  max-width: 1000px;
}

.header2 h2{
  font-size: 1.5rem;
  font-weight: 500;
}


.header2 p{
  font-size: 1.5rem;
}


.container{
  background-color: #F6F8FA;
  width: 90%;
  max-width: 1500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

 
}
.bx{
  width: 450px;
  height: 670px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
  /* border: 2px solid red; */
  
}

.box1{
  background-image: url(./images/photo1.png);
  margin-top: 30px;
  margin-left: 3rem;
  border: 2px solid red;
}

.box2{
 background-image: url(./images/photo2.png);
 margin-top: 100px;
 margin-left: 50px;
}

.box3{
  background-image: url(./images/photo3.png);
  margin-top: 30px;
  margin-left: 3rem;
}

.box4{
  background-image: url(./images/photo4.png);
  margin-top: 150px;
 margin-left: 50px;
}

.box5{
  background-image: url(./images/photo5.png);
  margin-top: 200px;
  margin-left: 50px;
}

.box6{
  background-image: url(./images/photo6.png);
  margin-top: 150px;
  margin-left: 50px;
 }
  
  
/* Names */

.name{
  margin-top: 42rem;
  position: absolute;
  left: 0px;
}

.job{
  position: absolute;
  top: 0px; 
  right: -30px; 
  writing-mode: vertical-rl; 
  /* transform: rotate(180deg); */

  
}

@media screen and (max-width: 1500px){

.box5{
  margin-top: 40px;
  margin-left: 50px;
}


}